/* admin-styles.css */


.wrap {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-table th {
    width: 250px;
    /* text-align: right; */
    padding: 10px;
}

.form-table td {
    padding: 10px;
}

.form-table input[type="text"],
.form-table textarea,
.form-table select {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-table textarea {
    height: 150px;
}

.submit-button {
    margin-top: 20px;
}
